{% extends "account/base.html.j2" %}

{% block account_content %}
<h3>Change Password</h3>
<form action="/account/change_password" method="post" class="standard hidden-labels">
  <section style="margin-bottom: 0px">
    {% if user.require_password_change %}
      <span>In order to continue using YARMS, you must first change your password.</span>
    {% endif %}
    <label for="new_password">New Password</label>
    <input type="password" name="new_password" id="new_password" placeholder="New Password">
    <label for="confirm_password">Confirm Password</label>
    <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm New Password">
    <input type="submit" value="Change Password">
  </section>
</form>
{% endblock account_content %}
