{% extends "account/base.html.j2" %}

{% block account_content %}
<h3>Dashboard</h3>
<p>
  Welcome to the account page {{ user.username }}! Here you can manage everything related to your account, such as 
  changing profile details, changing your password, exc.
</p>
{% endblock account_content %}
