{% extends "admin/base.html.j2" %}

{% block admin_content %}
<h3>Dashboard</h3>
<p>
  Welcome to the admin page! Here you can change various settings about your YARMS instance, create new repositories, add users and more!
</p>
{% endblock admin_content %}
