html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  padding: 0px;
  margin: 0px;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  max-width: 800px;
  padding: 8px 0;
  margin: 0 auto;
  font-size: 16px;

  display: flex;
  flex-direction: column;
  max-height: 100%;
}

h1 {
  font-size: 2.5rem;
}

p,
section {
  margin: 1rem 0;
}

hr {
  margin: 8px 0;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: red;
}

table {
  width: 100%;
  font-family: monospace;
  font-size: 1rem;
  border: 0px;
  border-collapse: collapse;
}

tr:hover {
  background-color: #eeeeee;
}

.flash-message,
.error-message {
  color: #880606;
  font-weight: bold;
}

/* Page Header */
header {
  text-align: center;
}

/* Page content */
article {
  overflow: scroll;
}

#file-path {
  font-family: monospace;
  font-size: 1rem;
}

.directory-repositories .column-access {
  text-align: right;
}

/* Page footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer nav {
  display: flex;
  justify-content: center;
  gap: 6px;
}

/* Aligning */
.center-aligned {
  text-align: center;
}

.right-aligned {
  text-align: right;
}

/* Forms */
form.standard span.label {
  font-weight: bold;
  margin: 4px 0;
}

form.standard input[type="text"],
form.standard input[type="password"],
form.standard input[type="button"],
form.standard input[type="submit"],
form.standard select {
  width: 240px;
  display: block;
  margin: 4px 0;
}

form.standard input[type="text"],
form.standard input[type="password"] {
  padding: 2px;
}

/* Form alternatives */
form.center-aligned {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form.hidden-labels label {
  display: none;
}

/* Admin & account pages */
.admin-page,
.account-page {
  display: grid;
  grid-template-columns: 23% auto;
}

.admin-page > *,
.account-page > * {
  padding: 1rem;
}

.admin-menu,
.account-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: right;
}

.admin-menu ul,
.account-menu ul {
  list-style: none;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #000;
    color: #dfdfdf;
  }

  a {
    color: #56c8ff;
  }

  hr {
    border-color: #454545;
  }

  input,
  select {
    background-color: #111111;
    border-color: #343434;
    border-style: solid;
    border-radius: 2px;
    color: #dfdfdf;
  }

  input[type="button"]:hover,
  input[type="submit"]:hover {
    background-color: #191919;
  }

  input[type="button"]:active,
  input[type="submit"]:active {
    background-color: #000000;
  }

  input[type="checkbox"],
  input[type="radio"] {
    filter: invert(100%) hue-rotate(164deg) brightness(1.1);
  }

  tr:hover {
    background-color: #0a0a0a;
  }
}
